<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
  </head>
  <body>
  <h1>Codebreaker game</h1>
  <p>Attempts left: <%= @game.attempts_left %></p>
  <p>Hints left: <%= @game.hints_left %></p>
  <%if @answer%>
    <p>Codebreaker amswer: <%= "#{@answer}" %></p>
  <%end%>
  <form method="post">
    <input name="number" type="text"></input>
    <input type="submit" value = "Send"></input>
  </form>
  </body>
</html>
