<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link href="/assets/app" rel="stylesheet"/>
  </head>
  <body>

    <div id="top_menu">
      <ul class="to_right">

        <%if @current_user.nil?%>
          <li><a href="register">Register</a></li>
          <li><a href="login">Log in</a></li>
        <%else%>
          <li><a href="logout">Log out</a></li>
        <%end%>
      </ul>

      <ul class="to_left">
        <li><a href="start">Start new game</a></li>
        <li><a href="load">Load saved game</a></li>
      </ul>
    </div>

    <%if @session['flash']%>
      <div <%= "id='#{@session['flash']['style']}'"%>>
        <p><%= "#{@session['flash']['msg']}" %></p>
      </div>
    <%end%>

    <%= content %>
  </body>
</html>