<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
  </head>
  <body>
  <h1>Codebreaker game</h1>
  <h2>You have lost! Try again...</h2>
  <p><a href="start">Start new game</a></p>
  </body>
</html>